[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework-simplejwt = "==5.5.1"
django-cors-headers = "==4.9.0"
djangorestframework = "==3.16.1"

[dev-packages]

[requires]
python_version = "3.13"
